header {
    background-color: #addcfc;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header div {
    text-align: center;
}

.postDiv {
    padding-left: 7%;
    padding-right: 7%;
    text-align: center;
}

.post {
    display: inline-block;
    padding: 15px;
}

.img {
    text-align: center;
    border: 1px solid black;
    width: 250px;
    height: 250px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.text {
    text-align: center;
    border: 1px solid black;
    width: 250px;
    height: 100px;
}

.arrow {
    width: 50px;
    float: right;
    padding-right: 100px;
    padding-bottom: 100px;
}

.lineImg {
    cursor: pointer;
}

.logo {
    cursor: pointer;
    width: 95px;
}

.profile {
    width: 65px;
    cursor: pointer;
    border-radius: 100vh;
}

.sort {
    display: inline-block;
}