.chart{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 12rem;
    max-width: 80rem;
    
}
.profile {
   position: absolute;
   right: 30%;

}
canvas {
    height: 20px;
    width: 100%;
}
.profile img {
    margin-left: 50px;
}