.header {
    background-color: #B4E197;
    padding: 10px;
}
.header h1 {
    color: white;
    text-align: center;
    background-color: #B4E197;
}
.btn1 {
    color: white;
    height: 4px;
    position: absolute;
    right: 10px;
    font-size: 20px;
    border: none; 
    background-color: #B4E197;
}
.btn2 {
    color: white;
    height: 4px;
    position: absolute;
    right: 110px;
    font-size: 20px;
    border: none;
    background-color: #B4E197;
}

.btn1:hover {
    color: rgb(110, 110, 110);
    background-color: #B4E197;
}
.btn2:hover {
    color: rgb(110, 110, 110);
    background-color: #B4E197;
}

.main {
    margin-top: 100px;
    text-align: center;
}
.main img {
    height: 400px;
    width: 400px;
}
.main p {
    font-size: 20px;
}
